*:focus {outline: none;}  
.contact_form{
	background-color:#e4e4e4;
} 

.contact_form h2 {  
    margin:0;  
    display: inline;  
}
  
.required_notification {  
    color:#d45252;  
    margin:20px 0 0 0;  
   
}  
.contact_form label {  
    /*width:80px;*/
    margin-top: 3px;  
    display:inline-block;  
    float:left;  
    padding:5px;  
}  
.contact_form input[type="text"] {  
    height:30px;  
    /*width:220px;*/  
    padding:5px 8px;  
}  
.contact_form textarea {padding:8px; width:300px;}  
.contact_form button {margin-left:0px;}  
.contact_form input[type="text"], .contact_form textarea {  
    border:1px solid #aaa;  
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;  
    border-radius:2px;  
    /* padding-right:30px; */ 
    -moz-transition: padding .25s;  
    -webkit-transition: padding .25s;  
    -o-transition: padding .25s; 
    transition: padding .25s; 
}  
.contact_form input[type="text"]:focus, .contact_form textarea:focus {  
    background: #fff;  
    border:1px solid #555;  
    box-shadow: 0 0 3px #aaa;  
    padding-right:10px;  
}  
.contact_form input[type="text"]:required, .contact_form textarea:required {  
    /* background: #fff url('red_asterisk.png') no-repeat 98% center; */  
}  
.contact_form input[type="text"]:required:valid, .contact_form textarea:required:valid {  
    /* background: #fff url('valid.png') no-repeat 98% center; */  
    box-shadow: 0 0 5px #5cd053;  
    border-color: #28921f;  
}  
.contact_form input[type="text"]:focus:invalid, .contact_form textarea:focus:invalid {  
    box-shadow: 0 0 5px #d45252;  
    border-color: #b03535  
}  
.form_hint {  
    background: #d45252;  
    border-radius: 3px 3px 3px 3px;  
    color: white;  
    margin-left:8px;  
    padding: 1px 6px;  
    height: 30px;line-height: 30px;  
    z-index: 999; /* hints stay above all other elements */  
    position: absolute; /* allows proper formatting if hint is two lines */  
    display: none;  
}  
.form_hint::before {  
    content: "\25C0";  
    color:#d45252;  
    position: absolute;  
    top:1px;  
    left:-1px;  
}  
.contact_form input[type="text"]:focus + .form_hint {display: inline;}  
.contact_form input[type="text"]:required:valid + .form_hint {background: #28921f;}  
.contact_form input[type="text"]:required:valid + .form_hint::before {color:#28921f;}  
/*按鈕效果*/
button.submit {  
    background-color: #68b12f;  
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));  
    background: -webkit-linear-gradient(top, #68b12f, #50911e);  
    background: -moz-linear-gradient(top, #68b12f, #50911e);  
    background: -ms-linear-gradient(top, #68b12f, #50911e);  
    background: -o-linear-gradient(top, #68b12f, #50911e);  
    background: linear-gradient(top, #68b12f, #50911e);  
    border: 1px solid #509111;  
    border-bottom: 1px solid #5b992b;  
    border-radius: 3px;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    -ms-border-radius: 3px;  
    -o-border-radius: 3px;  
    box-shadow: inset 0 1px 0 0 #9fd574;  
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;  
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;  
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;  
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;  
    color: white;  
    font-weight: bold;  
    padding: 6px 20px;  
    text-align: center;  
    text-shadow: 0 -1px 0 #396715;  
}  
button.submit:hover {  
    opacity:.85;  
    cursor: pointer;  
} 
button.submit:disabled {  
    opacity:.35;  
    cursor: pointer;  
}   
button.submit:active {  
    border: 1px solid #20911e;  
    box-shadow: 0 0 10px 5px #356b0b inset;  
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;  
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;  
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;  
    -o-box-shadow: 0 0 10px 5px #356b0b inset;  
}
  
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 0.6em;
	z-index: -1;
}

input[type="radio"] + label {
	text-decoration: none;
	color: #585858;
	cursor: pointer;
	display: inline-block;

	padding-left: 2.55em;
	padding-right: 0.75em;
	position: relative;
}

input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;

	text-transform: none !important;
}

input[type="radio"] + label:before {
	border-radius: 4px;
	border: solid 1px #c9c9c9;
	content: '';
	display: inline-block;
	height: 1.8em;
	left: 0;
	line-height: 1.725em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.8em;
}

input[type="radio"]:checked + label:before {
	background: #585858;
	border-color: #585858;
	color: #ffffff;
	
}

input[type="radio"]:focus + label:before {
	border-color: #f2849e;
	box-shadow: 0 0 0 1px #f2849e;
}


input[type="radio"] + label:before {
	border-radius: 100%;
}
