<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	
	<import resource="classpath:org/codehaus/xfire/spring/xfire.xml" />
	
	<!-- 線上起訴 service -->
	<bean id="PayServiceBean" class="com.sertek.service.server.PayServiceImpl" />
	<bean name="PayService" class="org.codehaus.xfire.spring.ServiceBean">
		<property name="serviceBean" ref="PayServiceBean" />
		<property name="serviceClass" value="com.sertek.service.server.PayService" />
	</bean>
	
</beans>